<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid mx-5">
      <a class="navbar-brand" id="logo" href="/"><i class="fa-light fa-waveform"></i>TRANSCRIBE-WHISPER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><span class="translate" data-translation-key="Home"> Accueil</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/import"><span class="translate" data-translation-key="Transcription"> Transcription</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/record"><span  class="translate" data-translation-key="Dictee"> dictée</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fa-sharp fa-solid fa-circle-info" style="color: black;font-size: larger;"></i> <span class="translate" data-translation-key="About"> À propos de nous</span> </a>
          </li>
          
        </ul>
        <div class="language">
          <select id="language-selector" class="form-control">
            <option value="en"> English</option>
            <option value="fr">Français</option>
            <option value="es">Español</option>
          </select>
        </div>
      </div>
    </div>
  </nav>